[Unit]
Description=Ooba Application
After=network.target
Requires=network.target

[Service]
Type=simple
User=YOUR_USERNAME
Environment="HOME=/home/YOUR_USERNAME"
Environment="LISTEN_PORT=17256"
Environment="PARAMS=notebook --ip=0.0.0.0"
ExecStart=/home/YOUR_USERNAME/llama-ggml-tools/launchers/jupyter.sh
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=3
StandardOutput=journal
StandardError=journal
SyslogIdentifier=jupyter
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
