[Unit]
Description=Milvus Vector Database
After=network.target

[Service]
ExecStart=/home/YOUR_USERNAME/ModelReady/launchers/milvus.sh
ExecStop=/usr/bin/docker-compose -f /home/YOUR_USERNAME/milvus/docker-compose.yml down
User=YOUR_USERNAME
Group=YOUR_USERGROUP
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
SyslogIdentifier=milvus
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
