[Unit]
Description=Ooba Application
After=network.target
Requires=network.target

[Service]
Type=simple
User=YOUR_USERNAME
Environment="HOME=/home/YOUR_USERNAME"
Environment="CUDA_HOME=/usr/local/cuda-11.8"
Environment="PYENV_VERSION=3.11.3"
Environment="LISTEN_PORT=7860"
Environment="THREADS=7"
Environment="PARAMS=--auto-devices --listen --chat --xformers"
ExecStart=/home/YOUR_USERNAME/llama-ggml-tools/launchers/ooba.sh
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=3
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ooba
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
